/* Global Css for the App */

/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* Variables for colors */
:root{
    --PrimaryBackgroundColor : #1f2f1e;
    --PrimaryBackgroundColorHOVER : #000000;
    --FooterBackgroundColor : #292b2d;
    --PopUpWindowBackgroundColor : #252525;
    --ButtonBackgroundColor : #333333;

    --Trying : #8CC84B;
    --Trying2 :rgb(104, 150, 56);
    --TryingFontColor: white;


    
    /* --PrimaryBackgroundColor : #c4e1c5;
    --FooterBackgroundColor : #70b673;
    --PopUpWindowBackgroundColor : #78bb7b;
    --ButtonBackgroundColor : #a8d3aa;

    --Trying : #8CC84B;
    --Trying2 :rgb(104, 150, 56);
    --TryingFontColor: rgb(139, 199, 75); */

    --TestingFont: 'Roboto', sans-serif;
    --primaryFont: 'Helvetica', sans-serif;
    --LittleTextIguess: 'Helvetica', sans-serif;
    --FancyLogo: 'Irish Grover', sans-serif; 

    /* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */



    /*Background Color*/
    --primaryBackgroundColor: #191c24;
    --secondaryBackgroundColor: #EFEFEF;
    --fourthColor: #f58a5c;
    --lightFourthColor: #F59D77;

    /*Font*/
    --primaryFontColor: white;
    --secondaryFontColor: #6c7293;

    /* Colors: */
    --white: #FFFFFF;
    --unnamed-color-707070: #707070;
    
    /* Font Family */
    --primaryFont: 'Source Sans Pro', sans-serif;



}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    /* display: flex;
    flex-direction: column; */
    min-height: 100vh; /* Make sure the page height takes up at least the full viewport height. */


    background-color: var(--PrimaryBackgroundColor);
}

main {
    flex-grow: 1; /* Allow the main content to grow and push the footer down. So that the Footer stays at the bottom*/
}

/* .top-header {
    display: flex;
    
    top, right, bottom, left
    padding: 1% 5% 1% 3%;

    background-color: var(--Trying2);
    
    justify-content: space-between;

} */


/* Div of the entire logo including Icon + "Tasty Talks" Title */
.TastlyTalks-LogoDiv a{
    display: flex;
    gap: 15px;
    text-decoration: none;
}


.utility-icons a{
    color: var(--Trying);
    font-size: 30px;
}

.utility-icons a:hover{
    color: var(--FooterBackgroundColor)

}

header .main-icon img {
    height: auto;
    border-radius: 50%;
    max-width: 50px;
}

h1{
    /* color: var(--Trying); */
    color: var(--Trying);
}


.navbar {

    text-align: center;

    
    font-family: var(--primaryFont);
    font-weight: bold;
    font-size: 27px;

    padding: 10px;

}

.navbar a {
    text-decoration: none;
    color: var(--Trying);
    padding-right: 15px;
}

.navbar a:hover{
    color: var(--PrimaryBackgroundColorHOVER);
    
}



footer{
    display:flex;
    justify-content: right;
    padding-right: 4%;

    padding: 7px;

    background-color: var(--Trying);
    font-weight: bold;
}

/*  Working Header Text
h1{
    color: var(--Trying);
    margin: 0;
    font-family: 'IrishGrover', sans-serif;
    -webkit-text-stroke: .4px #194c10; 
    font-weight: bolder;
    color: #FADF54; 
}

@font-face {
    font-family: 'IrishGrover';
    src: url('./fonts/ChristmasPudding.otf') format('truetype');
  } */