<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="styles.css">
        <script src="https://kit.fontawesome.com/0c3ed248b7.js" crossorigin="anonymous"></script>

    </head>
    <body>

        <header>
            <div class="top-header">
                <div class="TastlyTalks-LogoDiv">
                    <a href="#">
                        <div class="main-icon">
                            <img src="images/TastkyTalkMainIconSmall.jpg" alt="Main_Icon_of_the_page">
                        </div>
            
                        <div class="main-title">
                            <h1>Tasty Talks</h1>
                        </div>
                    </a>
                </div>
                <div class="utility-icons">
                    <a href=""><i class="fa-solid fa-user"></i></a>
                </div>
            </div>

            <div class="bottom-header">
                <div class="navbar"> 
                    <a href="#">Home</a>
                    <a href="#">Recipies</a>
                    <a href="#">Post</a>
                    <router-link to="/about" class="custom">About</router-link>
                </div>
            </div>
        </header>



        <main>
            <form action = '/users' method = 'POST' class="user-form">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" name="firstName" required>
                
                <label for="lastName">Last Name</label></td>
                <input type="text" id="lastName" name="lastName" required></td>
        
                <label for="username">Username</label>
                <input type="username" id="username" name="username" required>
        
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" required>
                
                <label for="password">Password</label>
                <input type="password" id="password" name="password" minlength="8" required>
        
                <label for="Region">Region</label>
                <input type="Region" id="Region" name="Region" required>
        
                <input type="submit" value="Sign Up">      
            </form>
        </main>



    <footer>
        <p>Tasty Talks 2023</p>
    </footer>

    </body>
</html>